<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to the Great Number Game!</h1>
  <h2>I am thinking of a number between 1 and 100</h2>
  <h2>Take a guess!</h2>
  {% if guess: %}
    {% if guess < answer: %}
        <p>Too Low!</p>
    {% elif guess > answer: %}
        <p>Too High!</p>
    {% else: %}
        <p>{{answer}} was the answer!</p>
        <a href="/reset">Play Again</a>
    {% endif %}
  {% endif %}
  <form action="/process" method="post">
    <input type="text" name="guess">
    <input type="submit">
  </form>
</body>
</html>
